<% include ../partial/header %>
 
    <div  id="head" class="row">
         <div class="col-md-3 col-xs-6">
            <div id="profilePhoto" class="thumbnail">
              <img id="userImage" src="<%= user.avatar %>" class="img-responsive" alt="Responsive image">
             
          </div>
         </div>
         <div class="col-md-9 col-xs-12 ">
             <h1><%= user.firstName + " " + user.lastName %></h1>
             <!--只有当前登录用户id和该user profile的user id匹配时才看得见按钮-->
             <% if(currentUser && currentUser._id.equals(user._id)) { %>
             <a href="/users/<%= user._id %>/edit" class="btn btn-info btn-md">Edit Profile</a>
             <% } %>
             <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
         </div>
          
    </div>
       

     
     <!-- <div class="col-md-8">-->
        <br>
        <br>
          <h3><%= user.username %>'s Images: </h3>
           
  
     <div class="row text-center" style="display:flex; flex-wrap:wrap">
          <% campgrounds.forEach(function(campground){ %>
          <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                    <img src = "<%= campground.image %>">
                    <div class="caption">
                         <a href = "/campgrounds/<%= campground._id %>"><%= campground.name %></a>
                    </div>
               </div>
          </div>
             
          <%  }); %>
     </div>
     
      <br>
        <br>
          <h3><%= user.username %>'s Likes: </h3>
           
  
     <div class="row text-center" style="display:flex; flex-wrap:wrap">
         <%  console.log("user.likes") %>
         <%  console.log(user.likes) %>
          <% user.likes.forEach(function(campground){ %>
          <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                    <img src = "<%= campground.image %>">
                    <div class="caption">
                         <a href = "/campgrounds/<%= campground._id %>"><%= campground.name %></a>
                    </div>
               </div>
          </div>
             
          <%  }); %>
         
     </div>
<% include ../partial/footer %>